[class*="col-"] {
    float: left;
    padding: 0px 0px;
    height: 120px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%; height: 600px;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@font-face {
    font-family: fuentePerson;
    src: url(FuentePerson.otf);
}
* {
    font-family: fuentePerson;
}
p.titulo {
    font-size: 150%;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    z-index: 1;
}
.container > div {
    display: inline-block;
    text-align: left;
}
.downear {
    z-index: 0;
    position: relative;
    transform: translateY(100px);
}
body {
    background: url(BG.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}
input[type=submit] {
    background-color: white;
}
