@font-face {
	font-family: fuentePerson;
 	src: url(FuentePerson.otf);
}

* {
	font-family: fuentePerson;
}

body{
    background-image:url(../Fotos/HS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    width: 170px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 105px;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
}

div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate( 0%, -78%);
}

select{
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate( 0%, 29%);
  	width: 53%;
   	height: 550px;
}
